# TAXI FARE DATASET

In [139]:
import numpy as np

In [140]:
import pandas as pd

In [141]:
from matplotlib import pyplot as plt

In [142]:
%matplotlib inline

In [143]:
import seaborn as sns

## Reading the dataset

In [144]:
taxifare_data = pd.read_csv('https://raw.githubusercontent.com/Premalatha-success/Datasets/main/TaxiFare.csv')

In [145]:
taxifare_data.isnull().sum()

unique_id               0
amount                  0
date_time_of_pickup     0
longitude_of_pickup     0
latitude_of_pickup      0
longitude_of_dropoff    0
latitude_of_dropoff     0
no_of_passenger         0
dtype: int64

#there are no missing values

In [146]:
taxifare_data.describe()

,amount,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,11.364171,-72.509756,39.933759,-72.504616,39.926251,1.667840
std,9.685557,10.393860,6.224857,10.407570,6.014737,1.289195
min,-5.000000,-75.423848,-74.006893,-84.654241,-74.006377,0.000000
25%,6.000000,-73.992062,40.734880,-73.991152,40.734372,1.000000
50%,8.500000,-73.981840,40.752678,-73.980082,40.753372,1.000000
75%,12.500000,-73.967148,40.767360,-73.963584,40.768167,2.000000
max,200.000000,40.783472,401.083332,40.851027,43.415190,6.000000

In [147]:
#amount cannot be a negative value
taxifare_data=taxifare_data.drop(taxifare_data[taxifare_data['amount']<0].index,axis=0)

In [148]:
taxifare_data[['date_of_pickup','time_of_pickup','drop']]=taxifare_data['date_time_of_pickup'].str.split(' ', expand=True)

In [149]:
taxifare_data.head(10)

,unique_id,amount,date_time_of_pickup,longitude_of_pickup,latitude_of_pickup,longitude_of_dropoff,latitude_of_dropoff,no_of_passenger,date_of_pickup,time_of_pickup,drop
0,26:21.0,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1,2009-06-15,17:26:21,UTC
1,52:16.0,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1,2010-01-05,16:52:16,UTC
2,35:00.0,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2,2011-08-18,00:35:00,UTC
3,30:42.0,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1,2012-04-21,04:30:42,UTC
4,51:00.0,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1,2010-03-09,07:51:00,UTC
5,50:45.0,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1,2011-01-06,09:50:45,UTC
6,35:00.0,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1,2012-11-20,20:35:00,UTC
7,22:00.0,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1,2012-01-04,17:22:00,UTC
8,10:00.0,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1,2012-12-03,13:10:00,UTC
9,11:00.0,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2,2009-09-02,01:11:00,UTC

In [150]:
taxifare_data.drop(taxifare_data[['drop','unique_id','date_time_of_pickup']],axis=1,inplace=True)

In [151]:

taxifare_data['longitude_distance']= taxifare_data['longitude_of_dropoff']-taxifare_data['longitude_of_pickup']
taxifare_data['latitude_distance']= taxifare_data['latitude_of_dropoff']-taxifare_data['latitude_of_pickup']
taxifare_data.drop(taxifare_data[['longitude_of_dropoff','longitude_of_pickup','latitude_of_dropoff','latitude_of_pickup']],axis=1,inplace=True)

In [152]:
taxifare_data[['longitude_distance','latitude_distance']]=np.abs(taxifare_data[['longitude_distance','latitude_distance']])
taxifare_data.head()

,amount,no_of_passenger,date_of_pickup,time_of_pickup,longitude_distance,latitude_distance
0,4.5,1,2009-06-15,17:26:21,0.002701,0.009041
1,16.9,1,2010-01-05,16:52:16,0.036780,0.070701
2,5.7,2,2011-08-18,00:35:00,0.008504,0.010708
3,7.7,1,2012-04-21,04:30:42,0.004437,0.024949
4,5.3,1,2010-03-09,07:51:00,0.011440,0.015754

In [153]:
taxifare_data.dtypes

amount                float64
no_of_passenger         int64
date_of_pickup         object
time_of_pickup         object
longitude_distance    float64
latitude_distance     float64
dtype: object

In [154]:
taxifare_data[['a','b','c']]= taxifare_data['time_of_pickup'].str.split(':',expand=True)

In [155]:
taxifare_data[['year','month','day']]=taxifare_data['date_of_pickup'].str.split('-',expand=True)

In [156]:
taxifare_data.drop(['date_of_pickup'],axis=1,inplace=True)

In [157]:
taxifare_data.head()

,amount,no_of_passenger,time_of_pickup,longitude_distance,latitude_distance,a,b,c,year,month,day
0,4.5,1,17:26:21,0.002701,0.009041,17,26,21,2009,06,15
1,16.9,1,16:52:16,0.036780,0.070701,16,52,16,2010,01,05
2,5.7,2,00:35:00,0.008504,0.010708,00,35,00,2011,08,18
3,7.7,1,04:30:42,0.004437,0.024949,04,30,42,2012,04,21
4,5.3,1,07:51:00,0.011440,0.015754,07,51,00,2010,03,09

In [158]:
taxifare_data['a']=taxifare_data['a'].astype('int')

In [159]:
taxifare_data['b']= taxifare_data['b'].astype('int')

In [160]:
taxifare_data['c']=taxifare_data['c'].astype('int')

In [161]:
taxifare_data['time_of_pickup']= taxifare_data['a']*10000+taxifare_data['b']*100+taxifare_data['c']*1

In [162]:
taxifare_data.drop(taxifare_data[['a','b','c']],axis=1,inplace=True)

In [163]:
taxifare_data['day']=taxifare_data['day'].astype('int')
taxifare_data['month']=taxifare_data['month'].astype('int')
taxifare_data['year']=taxifare_data['year'].astype('int')

In [164]:
taxifare_data.dtypes

amount                float64
no_of_passenger         int64
time_of_pickup          int32
longitude_distance    float64
latitude_distance     float64
year                    int32
month                   int32
day                     int32
dtype: object

In [165]:
taxifare_data.head()

,amount,no_of_passenger,time_of_pickup,longitude_distance,latitude_distance,year,month,day
0,4.5,1,172621,0.002701,0.009041,2009,6,15
1,16.9,1,165216,0.036780,0.070701,2010,1,5
2,5.7,2,3500,0.008504,0.010708,2011,8,18
3,7.7,1,43042,0.004437,0.024949,2012,4,21
4,5.3,1,75100,0.011440,0.015754,2010,3,9

In [166]:
## trying all models

### Linear Regression

In [167]:
from sklearn.linear_model import LinearRegression

In [168]:
from sklearn.model_selection import train_test_split

In [169]:
y=taxifare_data['amount']

In [170]:
x=taxifare_data.drop(['amount'],axis=1)

In [171]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)

In [172]:
lrmodel=LinearRegression()

In [173]:
lrmodel.fit(x_train,y_train)

LinearRegression()

In [174]:
lrmodel.score(x_train,y_train)

0.016609587412354188

In [175]:
lrmodel.score(x_test,y_test)

0.018828157643449583

### Decision tree

In [176]:
from sklearn.tree import DecisionTreeRegressor

In [177]:
Dtree= DecisionTreeRegressor(criterion='mse',max_depth=8,random_state=0)

In [178]:
Dtree.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=8, random_state=0)

In [179]:
Dtree.score(x_train,y_train)

0.7949758223455705

In [180]:
Dtree.score(x_test,y_test)

0.7151449840676625

### Bagging

In [181]:
from sklearn.ensemble import BaggingRegressor

In [182]:
bgcl=BaggingRegressor(n_estimators=50,base_estimator=Dtree,random_state=0)

In [183]:
bgcl.fit(x_train,y_train)

BaggingRegressor(base_estimator=DecisionTreeRegressor(max_depth=8,
                                                      random_state=0),
                 n_estimators=50, random_state=0)

In [184]:
bgcl.score(x_train,y_train)

0.8145129169939348

In [185]:
bgcl.score(x_test,y_test)

0.7502296395010601

### Random Forest

In [186]:
from sklearn.ensemble import RandomForestRegressor

In [187]:
rfcl=RandomForestRegressor(n_estimators=50,random_state=0,max_features=3)

In [188]:
rfcl.fit(x_train,y_train)

RandomForestRegressor(max_features=3, n_estimators=50, random_state=0)

In [189]:
rfcl.score(x_train,y_train)

0.9643807457303462

In [190]:
rfcl.score(x_test,y_test)

0.7452362481093513

### Boosting

In [191]:
from sklearn.ensemble import AdaBoostRegressor

In [192]:
abcl=AdaBoostRegressor(n_estimators=100,random_state=0)

In [193]:
abcl.fit(x_train,y_train)

AdaBoostRegressor(n_estimators=100, random_state=0)

In [194]:
abcl.score(x_train,y_train)

0.20295025514014875

In [195]:
abcl.score(x_test,y_test)

0.16524851617429093